body {
    margin: 0;
    font-family: 'Nunito', Arial, sans-serif;
    background-color: #f0f0f0;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background: linear-gradient(45deg, #000000, #ffffff, #000066, #000000);
    background-size: 600% 600%;
    animation: gradientAnimation 10s ease infinite;
    position: relative;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(45deg, #000000, #ffffff, #000066, #000000);
    background-size: 600% 600%;
    animation: gradientAnimation 10s ease infinite;
    text-align: center;

}
main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the links horizontally */
    gap: 15px; /* Adjust spacing between links */
}

main a {
    display: block;
    padding: 10px 20px;
    background-color: #f4f4f4; /* Light gray background */
    text-decoration: none;
    color: #333; /* Dark text */
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    border-radius: 5px; /* Rounded corners */
    transition: background 0.3s ease;
}

main a:hover {
    background-color: #ddd; /* Slightly darker gray on hover */
}


@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.portfolio-title {
    font-size: 5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

footer {
    text-align: center;
    padding: 1px;
    background-color: black;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px; /* Adjust spacing between grid items */
  }
  
  .item-b {
    grid-column-start: 1;
    grid-column-end: span 4; /* Ensures it spans four columns */
    grid-row-start: 2;
    grid-row-end: span 2;
  }
  
  /* Example additional items */
  .item-a {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  
  .item-c {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
  }
  